name: .NET CI 3
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Publish
      run: dotnet publish GitHubActionsTests/GitHubActionsTests.csproj -c Release -r win-x64 --self-contained true /p:PublishSingleFile=true /p:IncludeNativeLibrariesForSelfExtract=true -o ./publish
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: GitHubActionsTests
        path: ./publish
